@model SimpleERP.MVC.Models.ClientViewModel

@{
    ViewData["Title"] = "Remover Cliente";
}

<br />
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Client" asp-action="Index">Clientes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Remover Cliente</li>
    </ol>
</nav>

<h1>Remover Cliente</h1>
<h3>Tem certeza que deseja remover este cliente?</h3>
<hr />

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Delete">
            <vc:summary></vc:summary>

            <br />

            <div class="mb-3">
                <label asp-for="Id" class="form-label"></label>
                <input asp-for="Id" type="text" class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label asp-for="CpfCnpj" class="form-label">CPF/CNPJ</label>
                <input asp-for="CpfCnpj" type="text" class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Nome do cliente</label>
                <input asp-for="Name" class="form-control" readonly>
            </div>

            <div class="d-grid gap-2">
                <input type="submit" value="Confirmar" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-danger">Voltar</a>
            </div>
        </form>
    </div>
</div>
