@model SimpleERP.MVC.Models.ClientViewModel

@{
    ViewData["Title"] = "Alterar Cliente";
}

<!-- Início Breadcrumbs -->
<div class="container-flex">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb border shadow-sm p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="text-dark fw-bold text-decoration-underline text-decoration-none" asp-action="Index" asp-controller="Home">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-dark fw-bold text-decoration-underline text-decoration-none" asp-action="Index" asp-controller="Client">Clientes</a>
            </li>
            <li class="breadcrumb-item active">Alterar Cliente</li>
        </ol>
    </nav>
</div>

<vc:summary></vc:summary> <!-- ViewComponent de erros -->

<!-- Início Card -->
<div class="row justify-content-center">
    <div class="card shadow-sm col-md-6 p-0">

        <!-- Início Card Header -->
        <div class="card-header">
            <h4 class="card-title m-0">Alterar Cliente</h4>
        </div>

        <!-- Início Card Body -->
        <div class="card-body mb-3">
            <form asp-action="Edit">

                <div class="mb-3">
                    <label asp-for="Id" class="form-label"></label>
                    <input asp-for="Id" type="text" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label asp-for="CpfCnpj" class="form-label">CPF/CNPJ</label>
                    <input asp-for="CpfCnpj" type="text" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Nome do cliente</label>
                    <input asp-for="Name" class="form-control" placeholder="Christhian Lopes" required>
                    <span asp-validation-for="Name" class="form-text text-danger"></span>
                </div>

                <div class="d-grid gap-2">
                    <input type="submit" value="Confirmar" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
