@model SimpleERP.MVC.Models.LoginUser

@{
    ViewData["Title"] = "Login de usuário";
}

<br />
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login</li>
    </ol>
</nav>

<h1>Autentique-se</h1>
<hr />

<div class="row justify-content-center">
    <div class="col-md-4">        
        <vc:summary></vc:summary>

        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
          <br />

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" type="email" class="form-control" placeholder="name@example.com">
                <span asp-validation-for="Email" class="form-text text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="form-text text-danger"></span>
            </div>

            <div class="d-grid gap-2">
                <input type="submit" value="Confirmar" class="btn btn-outline-primary" />
                <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
