@model SimpleERP.MVC.Models.CreateProductModel

@{
    ViewData["Title"] = "Cadastrar Novo Produto";
}

<!-- Início Breadcrumbs -->
<div class="container-flex">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb border shadow-sm p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="text-dark fw-bold text-decoration-underline text-decoration-none" asp-action="Index" asp-controller="Home">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-dark fw-bold text-decoration-underline text-decoration-none" asp-action="Index" asp-controller="Product">Produtos</a>
            </li>
            <li class="breadcrumb-item active">Cadastrar Produto</li>
        </ol>
    </nav>
</div>

<vc:summary></vc:summary> <!-- ViewComponent de erros -->

<!-- Início Card -->
<div class="row justify-content-center">
    <div class="card shadow-sm col-md-6 p-0">

        <!-- Início Card Header -->
        <div class="card-header">
            <h4 class="m-0">Cadastrar Produto</h4>
        </div>

        <!-- Início Card Body -->
        <div class="card-body mb-3">
            <form asp-action="Create">

                <div class="mb-3">
                    <label asp-for="Code" class="form-label"></label>
                    <input asp-for="Code" class="form-control" placeholder="PROD-00001"/>
                    <span asp-validation-for="Code" class="form-text text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control" placeholder="Capinha de Iphone"/>
                    <span asp-validation-for="Description" class="form-text text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="QuantityInStock" class="form-label"></label>
                    <input asp-for="QuantityInStock" class="form-control" placeholder="15"/>
                    <span asp-validation-for="QuantityInStock" class="form-text text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Price" class="form-label"></label>
                    <input asp-for="Price" class="form-control" placeholder="29,99" type="number" step="any" lang="pt-BR" name="price" id="Price" />
                    <span asp-validation-for="Price" class="form-text text-danger"></span>
                </div>

                <div class="d-grid gap-2">
                    <input type="submit" value="Confirmar" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
