<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleERP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SimpleERP.MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-0 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a class="d-inline-flex link-body-emphasis text-decoration-none" asp-action="Index" asp-controller="Home">
                    <img class="fixed-logo" src="/img/logo.png" width="137px" height="60px">
                </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 text-dark" asp-action="Index" asp-controller="Home">Home</a></li>
                <li><a class="nav-link px-2 text-dark" asp-action="Index" asp-controller="Client">Clientes</a></li>
                <li><a class="nav-link px-2 text-dark" asp-action="Index" asp-controller="Product">Produtos</a></li>
                <li><a class="nav-link px-2 text-dark" asp-action="Index" asp-controller="Order">Pedidos</a></li>
            </ul>

            <div class="col-md-3 text-end">
                <partial name="_LoginPartial" />
            </div>
        </header>
    </div>

    <div class="container">
        <main role="main" class="py-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer text-muted">
        <div class="container border-top text-center">
            &copy; 2023 - Christhian Lopes
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
