@using SimpleERP.MVC.Extensions;
@inject IUser AppUser

<ul class="navbar-nav">
    @if (AppUser.IsAuthenticated())
    {
        <li class="nav-item">
            <a class="nav-link text-white me-2" title="Manage">Olá, @AppUser.GetUserEmail()!</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-light" asp-controller="Auth" asp-action="Logout">Sair</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-outline-light me-2" asp-controller="Auth" asp-action="Register">Crie sua conta</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-warning" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    }
</ul>
